
.heading-classname{
color: white;
font-style:normal;
padding: 20px 0 0 10px;

}
hr{
    color: rgba(255,255,255,.4);   
    
}
.interface-heading{
    color: #2a5f94; /* Set the text color */
    text-shadow: #0c5b9b; /* Apply a subtle text shadow */
    padding-left: 10px;
}
.heading-components{
    padding-left: 10px;
    color: beige;
    position: relative;
    display: inline-block;
    cursor: pointer;
}
  .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
.heading-utilities{
    padding-left: 30px;
    color: beige;
}
.heading-components:hover .dropdown-content {
    display: block;
  }